.cursor/

.tools/
.python/
/system-monitor
/system-monitor-agent
system-monitor.exe
system-monitor-agent.exe
packaging/linux/system-monitor-agent
packaging/windows/dist/
data/
*.db
.env
.DS_Store
build/
*.egg-info/
*.deb
*.changes
*.buildinfo
*.dsc
debian/.debhelper/
debian/debhelper-build-stamp
debian/files
debian/system-monitor/
debian/system-monitor-agent/
debian/*.substvars
debian/*.debhelper
dist/
cmd/system-monitor-agent/rsrc.syso
packaging/windows/build/
packaging/windows/third_party/
packaging/windows/output/
packaging/linux/build/
packaging/linux/dist/
