*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
.cxx
*.apk
*.ap_
*.aab
app/release/
app/google-services.json
release.keystore
sysmon-release.jks
keystore.properties
