#!/usr/bin/make -f

export DH_VERBOSE=1

SITE_PACKAGES=debian/system-monitor-agent/opt/system-monitor-agent/lib/python3/site-packages

%:
	dh $@ --without python3

override_dh_auto_clean:
	dh_auto_clean
	rm -rf debian/system-monitor-agent/opt

override_dh_auto_build:

override_dh_auto_install:
	install -d $(SITE_PACKAGES)
	python3 -m pip install \
		--target=$(SITE_PACKAGES) \
		--no-cache-dir \
		--no-compile \
		--upgrade \
		.
	install -d debian/system-monitor-agent/etc/system-monitor
	install -m 644 config/agent.yaml debian/system-monitor-agent/etc/system-monitor/
	install -m 644 config/agent_sensors.yaml debian/system-monitor-agent/etc/system-monitor/
	install -d debian/system-monitor-agent/usr/bin
	install -m 755 packaging/usrbin-system-monitor-agent debian/system-monitor-agent/usr/bin/system-monitor-agent

override_dh_installsystemd:
	dh_installsystemd --name=system-monitor-agent

override_dh_auto_test:

override_dh_strip:
