#!/bin/sh
set -e

. /usr/share/debconf/confmodule

db_capb backup

case "$1" in
    configure)
        # $2 — предыдущая установленная версия; пусто при первой установке
        if [ -z "$2" ]; then
            db_fset system-monitor-agent/hub-url seen false
            db_fset system-monitor-agent/agent-id seen false
            db_fset system-monitor-agent/token seen false
        fi

        db_input critical system-monitor-agent/hub-url || true
        db_go || true
        db_input medium system-monitor-agent/agent-id || true
        db_go || true
        db_input medium system-monitor-agent/token || true
        db_go || true
        ;;
esac
